<template>
  <div class="rectanguloUno"></div>
  <div class="rectangulodos"></div>
  <header class="grid">
    <div class="item">
      <nav class="footer">
        <div class="logo">Brandname</div>
        <div class="navbar">
          <li class="navOne">
            <a href="#">Product</a>
            <a href="#">Home</a>
            <a href="#">Pricing</a>
            <a href="#">Contact</a>
          </li>
          <div class="navTwo">
            <a href="#">Login</a>
            <button>JOIN US<img src="@/assets/arrow.svg" /></button>
          </div>
        </div>
      </nav>
    </div>
    <div class="item2">
      <div class="primerap">
        <h5>For Better Future</h5>
        <h1>HIGH QUALITY COURSES</h1>
        <h4>Every day brings with it a fresh set of learning possibilities.</h4>
        <div><button>Get Quote Now</button> <button>Learn More</button></div>
      </div>
      <div class="segundap">
        <img class="vector9" src="./assets/vector9.svg" />
        <img class="vector7" src="./assets/vector7.svg" />
        <img class="vector8" src="./assets/vector8.svg" />
        <img class="vector2" src="./assets/vector2.svg" />
        <img class="vector3" src="./assets/vector3.svg" />
        <img class="vector4" src="./assets/vector4.svg" />
        <img class="vector5" src="./assets/vector5.svg" />
        <img class="vector6" src="./assets/vector6.svg" />
        <img class="gato" src="./assets/gato.png" />
        <img class="vector" src="./assets/vector1.svg" />
      </div>
      
    </div>
  </header>
  <article class="cards">
          <nav class="cardOne">
            <div class="lienzo"><img src="./assets/lienzo.svg" /></div>
            <h3>Expert instruction</h3>
            <hr />
            <p>
              The gradual accumulation of information about atomic and
              small-scale behaviour...
            </p>
          </nav>

          <nav class="cardTwo">
            <div class="icon"><img src="./assets/icon.svg" /></div>
            <h3>Expert instruction</h3>
            <hr />
            <p>
              The gradual accumulation of information about atomic and
              small-scale behaviour...
            </p>
          </nav>

          <nav class="cardThree">
            <div class="iconTwo"><img src="./assets/iconTwo.svg" /></div>
            <h3>Expert instruction</h3>
            <hr />
            <p>
              The gradual accumulation of information about atomic and
              small-scale behaviour...
            </p>
          </nav>
  </article>
</template>

<style scoped>
.cards{
  position: absolute;
  width: 1050px;
  height: 300px;
  display: flex;
  gap: 50px;
  left: 500px;
  top: 600px;
}
.cardThree > h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
  margin-bottom: 30px;
}
.cardThree> hr{
  width: 50px;
  border-color: #FFC652;
  margin-bottom: 30px;
}
.cardThree > p{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.cardThree{
  padding: 30px;
  width: 328px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #d5d4e3;
}

.cardTwo > h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
  margin-bottom: 30px;
}
.cardTwo > hr{
  width: 50px;
  border-color: #2435A1;
  margin-bottom: 30px;
}
.cardTwo > p{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}
.cardTwo{
  padding: 30px;
  width: 328px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #d5d4e3;
}
.cardOne > h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
  margin-bottom: 30px;
}
.cardOne > hr{
  width: 50px;
  border-color: #dc21ff;
  margin-bottom: 30px;
}
.cardOne > p{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}
.cardOne{
  padding: 30px;
  width: 328px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #d5d4e3;
}
.icon{
  width: 70px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  background-color: #2435A1;
  margin-bottom: 10px;
}
.iconTwo{
  width: 70px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  background-color: #FFC652;
  margin-bottom: 10px;
}
.lienzo{
  width: 70px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  background-color: #dc21ff;
  margin-bottom: 10px;
}
.vector {
  margin: 300px 0px 0px 300px;
}
.vector2 {
  margin: 0px 390px 300px 0px;
}
.vector3 {
  margin: 0px 300px 0px 700px;
}
.vector4 {
  margin: 0px 200px 200px 400px;
}
.vector5 {
  margin: 300px 300px 0px 50px;
}
.vector6 {
  margin: 0px 250px 450px 0px;
}
.vector8 {
  margin: 300px 300px 0px 0px;
}
.vector9 {
  margin: 0px 00px 300px 350px;
}
.rectanguloUno {
  width: 100px;
  height: 180px;
  background: radial-gradient(circle, rgba(118,116,145,1) 17%, rgba(59,57,83,1) 100%);;
  position: absolute;
}
.rectangulodos {
  width: 605px;
  height: 700px;
  left: 65%;
  background: radial-gradient(circle, rgba(118,116,145,1) 17%, rgba(59,57,83,1) 100%);
  position: absolute;
}
.segundap > img {
  position: absolute;
  display: flex;
}
.segundap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gato {
  width: 650px;
  height: 650px;
  margin-right: 240px;
}
.primerap > div {
  width: 365px;
  height: 52px;
  display: flex;
  gap: 7px;
}
.primerap > div > button:hover {
  background-color: transparent;
  border: 2px solid #dc21ff;
  color: #dc21ff;
  font-weight: bold;
}
.primerap > div > button {
  margin-top: 40px;
  width: 137px;
  height: 52px;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  color: #fef2ff;
  background-color: #ff58d9;
}
.primerap > h5 {
  color: #dc21ff;
  font-weight: 700;
  font-size: 1rem;
  text-align: start;
  margin-bottom: 20px;
}
.primerap > h4 {
  color: #fef2ff;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: start;
}
.primerap > h1 {
  color: #f5c6ff;
  font-weight: 700;
  font-size: 3rem;
  line-height: 75px;
  text-align: start;
  margin-bottom: 20px;
}
.primerap {
  width: 573px;
  height: 396px;
  margin-left: 165px;
}
.segundap {
  width: 704px;
  height: 682px;
  margin-top: 100px;
}
.navbar {
  display: flex;
  align-items: center;
  width: 815px;
  height: 58px;
  justify-content: space-evenly;
}
.navOne > a:hover {
  color: #dc21ff;
  background: transparent;
}
.navOne > a {
  font-size: 1rem;
  font-weight: 700;
  color: #fef2ff;
}
.navOne {
  display: flex;
  justify-content: space-between;
  width: 275px;
  height: 24px;
}
.navTwo {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  height: 52px;
}
.navTwo > a:hover {
  color: #dc21ff;
  background: transparent;
}
.navTwo > a {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #fef2ff;
}
.navTwo > button:hover {
  background-color: transparent;
  border: 2px solid #dc21ff;
  color: #dc21ff;
  font-weight: bold;
}
.navTwo > button {
  width: 137px;
  gap: 7px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  border-radius: 5%;
  color: #fef2ff;
  background-color: #ff58d9;
}
.logo {
  width: 280px;
  height: 58px;
  display: flex;
  font-size: xx-large;
  align-items: center;
  justify-content: end;
  color: #f5c6ff;
  font-weight: bold;
}
.footer {
  width: 1332px;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item {
  grid-area: header;
  display: flex;
  position: absolute;
  justify-content: center;
  width: 1322px;
  height: 91px;
}
.item2 {
  grid-area: menu;
  width: 1440px;
  height: 682px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
.grid {
  width: 1440px;
  height: 777px;
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu menu menu main main main"
    "footer footer footer footer footer footer";
}

.grid > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
</style>
